/****************************************

FONTS

****************************************/
@font-face {
  font-family: "Palimpsest";
  font-weight: normal;
  font-style: normal;
  src: url("assets/fonts/Palimpsest-Book.woff2") format("woff2"), url("assets/fonts/Palimpsest-Book.woff") format("woff");
}
@font-face {
  font-family: "Life";
  font-weight: normal;
  font-style: normal;
  src: url("assets/fonts/Life-Roman.woff2") format("woff2"), url("assets/fonts/Life-Roman.woff") format("woff");
}
@font-face {
  font-family: "Life";
  font-weight: bold;
  font-style: normal;
  src: url("assets/fonts/Life-Bold.woff2") format("woff2"), url("assets/fonts/Life-Bold.woff") format("woff");
}
@font-face {
  font-family: "Life";
  font-weight: normal;
  font-style: italic;
  src: url("assets/fonts/Life-Italic.woff2") format("woff2"), url("assets/fonts/Life-Italic.woff") format("woff");
}
/****************************************

GENERAL

****************************************/
/* line 46, info.scss */
#wrapper {
  padding-bottom: 20px;
}

/* line 50, info.scss */
#info_wrapper {
  /*	border: 1px solid purple;*/
  font-family: "Palimpsest", Helvetica, Arial;
  font-size: 24px;
  color: white;
  line-height: 1.3;
  text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.8);
  position: absolute;
  z-index: 99;
  top: 24px;
  left: 36px;
  height: 60px;
  width: calc( 100vw - 72px );
  -webkit-transition: top 3s;
  transition: top 3s;
  pointer-events: none;
}

/* line 71, info.scss */
#info_wrapper p {
  /*	border: 1px solid red;	*/
  margin-bottom: 8px;
}

/* line 76, info.scss */
#info_wrapper a {
  color: white;
  text-decoration: none;
  pointer-events: auto;
}

/* line 82, info.scss */
#info_left, #info_right {
  position: absolute;
  top: 0;
  width: 50%;
}

/* line 88, info.scss */
#info_right {
  right: 0;
  text-align: right;
}

/* line 93, info.scss */
#artist_info_show {
  opacity: 1;
  display: inline-block;
}

/* line 99, info.scss */
#main_info_hide,
#artist_info_hide {
  width: 32px;
  height: 32px;
  position: fixed;
  right: 36px;
  top: 24px;
  display: none;
}
/* line 108, info.scss */
#main_info_hide img,
#artist_info_hide img {
  width: 100%;
  height: 100%;
  -webkit-filter: drop-shadow(0px 0px 8px rgba(255, 255, 255, 0.8));
          filter: drop-shadow(0px 0px 8px rgba(255, 255, 255, 0.8));
  -webkit-transition: -webkit-filter 1s;
  transition: -webkit-filter 1s;
  transition: filter 1s;
  transition: filter 1s, -webkit-filter 1s;
}

/* line 116, info.scss */
#artist_info_hide {
  right: inherit;
}

/* line 121, info.scss */
#artist_info_hide:hover img {
  -webkit-filter: drop-shadow(0px 0px 8px white);
          filter: drop-shadow(0px 0px 8px white);
}

/* line 126, info.scss */
#hover_area {
  position: fixed;
  top: 0;
  height: 130px;
  width: 100%;
}

/* line 134, info.scss */
#info {
  display: none;
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: auto;
}

/* line 146, info.scss */
#info_bg_wrapper {
  background-color: rgba(255, 255, 255, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

/* line 156, info.scss */
#info_bg_white_wrapper {
  background-color: rgba(255, 255, 255, 0.5);
  position: fixed;
  mix-blend-mode: overlay;
  /* z-index: 9999999; */
  height: 100vh;
  top: 0;
  width: 100%;
}

/* line 166, info.scss */
#info_text_wrapper {
  background: rgba(0, 0, 0, 0.85);
  position: fixed;
  font-family: "Palimpsest", Helvetica, Arial;
  font-size: 24px;
  color: white;
  line-height: 1.3;
  text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.8);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  text-align: center;
  mix-blend-mode: darken;
  color: white;
}
@media (max-width: 1024px) {
  /* line 166, info.scss */
  #info_text_wrapper {
    font-size: 2.343vw;
  }
}
@media (max-width: 910px) {
  /* line 166, info.scss */
  #info_text_wrapper {
    font-size: 16pt;
  }
}
/* line 188, info.scss */
#info_text_wrapper #info_title {
  margin-top: 100px;
  margin-bottom: 80px;
  border-bottom: 3px solid white;
  display: inline-block;
  width: auto;
}
/* line 195, info.scss */
#info_text_wrapper .large_text,
#info_text_wrapper .info_toggle {
  font-size: 1.42em;
}
/* line 199, info.scss */
#info_text_wrapper b, #info_text_wrapper strong {
  font-weight: bold;
}
/* line 202, info.scss */
#info_text_wrapper i, #info_text_wrapper em {
  font-style: italic;
}
/* line 205, info.scss */
#info_text_wrapper a {
  color: white;
  text-decoration: none;
}

/* line 211, info.scss */
#info_text_inner_wrapper,
#info_title,
#info_meta {
  width: calc( 100% - 320px );
  max-width: 1060px;
  display: inline-block;
  text-align: left;
}
@media (max-width: 768px) {
  /* line 211, info.scss */
  #info_text_inner_wrapper,
  #info_title,
  #info_meta {
    width: calc( 100% - 32px );
  }
}

/* line 223, info.scss */
#info_mobile_enter {
  margin: 80px 0;
  text-align: center;
}
/* line 226, info.scss */
#info_mobile_enter img {
  margin-bottom: 20px;
  -webkit-filter: drop-shadow(0px 0px 8px rgba(255, 255, 255, 0.8));
          filter: drop-shadow(0px 0px 8px rgba(255, 255, 255, 0.8));
  height: 72px;
  width: auto;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-animation: rotate 3s ease-in-out infinite alternate;
          animation: rotate 3s ease-in-out infinite alternate;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}
/* line 241, info.scss */
#info_meta {
  margin-bottom: 100px;
}
/* line 243, info.scss */
#info_meta span {
  opacity: 0;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}
/* line 247, info.scss */
#info_meta span img {
  height: 26px;
  margin-bottom: -2px;
  margin-right: 8px;
  -webkit-filter: drop-shadow(0px 0px 8px rgba(255, 255, 255, 0.8));
          filter: drop-shadow(0px 0px 8px rgba(255, 255, 255, 0.8));
}
/* line 254, info.scss */
#info_meta .meta_row:first-child span:first-child {
  font-family: "Life", serif;
  font-weight: bold;
}
/* line 258, info.scss */
#info_meta .loaded {
  opacity: 1;
}

/* line 263, info.scss */
#info_definition {
  font-family: "Life", serif;
  margin-bottom: 96px;
}
/* line 266, info.scss */
#info_definition .phonetic {
  font-family: "Palimpsest", Helvetica, Arial;
}
/* line 269, info.scss */
#info_definition .list_marker {
  display: inline-block;
  width: 82px;
  vertical-align: top;
  text-align: center;
}
/* line 275, info.scss */
#info_definition .list_content {
  display: inline-block;
  width: calc( 100% -  84px );
  vertical-align: top;
}

/* line 282, info.scss */
#info_main_text {
  margin-bottom: 192px;
}
/* line 284, info.scss */
#info_main_text p {
  margin-bottom: 64px;
}

/* line 289, info.scss */
.info_toggle {
  border-bottom: 3px solid white;
  display: inline-block;
  margin-bottom: 48px;
  cursor: pointer;
}

/* line 296, info.scss */
#info_works,
#info_colophon,
#info_mekudeshet_text {
  margin-bottom: 96px;
}

/* line 304, info.scss */
#info_works {
  -webkit-column-count: 2;
          column-count: 2;
}
/* line 306, info.scss */
#info_works a {
  border-bottom: 2px solid white;
}

/* line 311, info.scss */
#info_colophon {
  -webkit-column-count: 2;
          column-count: 2;
}
/* line 313, info.scss */
#info_colophon p {
  margin-bottom: 24px;
}
/* line 316, info.scss */
#info_colophon .title {
  border-bottom: 2px solid white;
}

/* line 321, info.scss */
#info_mekudeshet_text {
  margin-bottom: 48px;
}

/* line 325, info.scss */
#info_mekudeshet_share {
  margin-bottom: 192px;
  height: 24px;
}
/* line 328, info.scss */
#info_mekudeshet_share li {
  display: inline-block;
  height: 24px;
  width: auto;
  margin-right: 24px;
}
/* line 333, info.scss */
#info_mekudeshet_share li img {
  height: 24px;
  width: auto;
  margin-bottom: -4px;
}

/* line 341, info.scss */
#artist_info {
  position: absolute;
  width: calc( 100% - 16.667% );
  max-width: 1060px;
  left: 8.33%;
  top: 16.8vh;
  font-family: "Palimpsest", Helvetica, Arial;
  font-size: 24px;
  color: white;
  line-height: 1.3;
  text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.8);
  display: none;
}
@media (max-width: 1024px) {
  /* line 341, info.scss */
  #artist_info {
    font-size: 2.343vw;
  }
}
@media (max-width: 910px) {
  /* line 341, info.scss */
  #artist_info {
    font-size: 16pt;
  }
}
/* line 360, info.scss */
#artist_info .artist_info_title {
  border-bottom: 2px solid white;
  line-height: 1.36;
  display: inline;
}
/* line 365, info.scss */
#artist_info .artist_info_artist {
  margin-bottom: 44px;
}
/* line 368, info.scss */
#artist_info .artist_info_description {
  margin-bottom: 44px;
  margin-left: 52px;
}
/* line 372, info.scss */
#artist_info #artist_info_share {
  position: fixed;
  bottom: 72px;
  left: 36px;
  width: 200px;
}
/* line 378, info.scss */
#artist_info #artist_info_share span {
  margin-right: 24px;
}
/* line 381, info.scss */
#artist_info #artist_info_share a {
  margin-right: 24px;
  width: 24px;
  display: none;
}
/* line 385, info.scss */
#artist_info #artist_info_share a img {
  width: 24px;
  margin-bottom: -2px;
  height: auto;
  -webkit-filter: drop-shadow(0px 0px 8px rgba(255, 255, 255, 0.8));
          filter: drop-shadow(0px 0px 8px rgba(255, 255, 255, 0.8));
}

/* line 395, info.scss */
#artist_info_next {
  position: fixed;
  z-index: 9999;
  top: 0;
  right: 0;
  padding: 24px 36px 0 24px;
  height: 100vh;
  text-align: right;
  opacity: 0.5;
  -webkit-transition: opacity 2s;
  transition: opacity 2s;
}
/* line 406, info.scss */
#artist_info_next a {
  color: white;
  text-decoration: none;
}
/* line 410, info.scss */
#artist_info_next div {
  display: inline-block;
  vertical-align: top;
  margin-left: 20px;
}
/* line 416, info.scss */
#artist_info_next .next_info {
  display: inline-block;
  text-align: left;
}
/* line 420, info.scss */
#artist_info_next .arrow {
  width: 32px;
}
/* line 422, info.scss */
#artist_info_next .arrow img {
  width: 32px;
  height: auto;
  -webkit-filter: drop-shadow(0px 0px 8px rgba(255, 255, 255, 0.8));
          filter: drop-shadow(0px 0px 8px rgba(255, 255, 255, 0.8));
}
/* line 428, info.scss */
#artist_info_next #artist_info_next_hover {
  border: 1px solid green;
  position: absolute;
  z-index: -1;
  top: -24px;
  right: -36px;
  width: calc( 100% + 36px );
  height: 100vh;
}

/* line 439, info.scss */
.next_info:hover {
  text-shadow: 0px 0px 16px white;
}
/* line 441, info.scss */
.next_info:hover img {
  -webkit-filter: drop-shadow(0px 0px 16px white);
          filter: drop-shadow(0px 0px 16px white);
}

/* line 446, info.scss */
iframe.next_work {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 2s;
  transition: opacity 2s;
}

/* line 457, info.scss */
#mobile_black_background {
  background-color: black;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  display: none;
}

/* line 471, info.scss */
#fullscreen {
  width: 64px;
  height: 64px;
  position: fixed;
  top: 64px;
  left: 64px;
  background: orange;
}
