/* line 1, style.scss */
#wpadminbar {
  display: none !important;
}

/****************************************

	CSS RESET 

****************************************/
/* line 12, style.scss */
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* line 12, style.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 12, style.scss */
body {
  line-height: 1;
}

/* line 12, style.scss */
ol, ul {
  list-style: none;
}

/* line 12, style.scss */
blockquote, q {
  quotes: none;
}

/* line 12, style.scss */
blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none;
}

/* line 12, style.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/****************************************

	GENERAL

****************************************/
/* line 20, style.scss */
html, body {
  width: 100%;
  height: 100%;
  background-color: black;
}

/* line 26, style.scss */
#wrapper {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
}

/* line 33, style.scss */
#video_wrapper {
  width: 100%;
  height: 100%;
  display: none;
}
/* line 38, style.scss */
#video_wrapper .video {
  width: 100%;
  height: 100%;
}
/* line 43, style.scss */
#video_wrapper #video_en {
  display: none;
}

/* line 48, style.scss */
#work_nav {
  position: fixed;
  height: 96px;
  bottom: 0;
  width: 100%;
  font-family: "Palimpsest", helvetica, arial;
  font-size: 24px;
  color: white;
  text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.8);
  -webkit-transition: text-shadow 0.5s;
  transition: text-shadow 0.5s;
  letter-spacing: 0.8px;
  pointer-events: none;
}
/* line 61, style.scss */
#work_nav .button_left {
  position: absolute;
  top: 0;
  left: 36px;
}
/* line 66, style.scss */
#work_nav #restart_button {
  height: 32px;
  width: auto;
  display: none;
}
/* line 71, style.scss */
#work_nav #restart_button a {
  margin-right: 16px;
  pointer-events: auto;
}
/* line 74, style.scss */
#work_nav #restart_button a img {
  -webkit-filter: drop-shadow(0px 0px 8px white);
          filter: drop-shadow(0px 0px 8px white);
  height: 100%;
  width: auto;
}
/* line 80, style.scss */
#work_nav #restart_button #timer {
  display: inline-block;
  vertical-align: top;
  margin-top: 4px;
}
/* line 86, style.scss */
#work_nav .button_right {
  position: absolute;
  top: 0;
  right: 36px;
  height: 24px;
  display: none;
}
/* line 92, style.scss */
#work_nav .button_right .lang {
  display: inline-block;
  vertical-align: top;
  margin-left: 16px;
  opacity: 0.5;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
/* line 98, style.scss */
#work_nav .button_right .lang a {
  color: white;
  text-decoration: none;
  pointer-events: auto;
}
/* line 104, style.scss */
#work_nav .button_right .selected,
#work_nav .button_right .lang:hover {
  opacity: 1;
}

/* line 111, style.scss */
#mobile_wrapper {
  width: 100%;
  height: 100%;
}
/* line 114, style.scss */
#mobile_wrapper video {
  width: 100%;
  height: calc( 100% - 60px );
}
