#wpadminbar {
	display: none;
}

/****************************************

	CSS RESET 

****************************************/

a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

/****************************************

	GENERAL

****************************************/

html, body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#wrapper {
	position: fixed;
/*	z-index: 1;*/
	top: 0;
	width: 100%;
	height: 100vh;
}

#wrapper img {
	width: auto;
	min-height: 100%;
}

#content_frame {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	// transition: width .5s, height .5s;
	#youtube_playlist {
		position: absolute;
		z-index: 9;
		bottom: 0;
		left: 0;
		// right: 0;
		width: 26.25%;
		height: 27.75%;
		iframe {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			right: 0;
		}
	}
	.slideshow_wrapper {
		position: absolute;	
		background-repeat: no-repeat;	
		background-size: cover;
		background-position: center;
    	filter: grayscale(100%);
    	transition: filter 0.5s;
    	overflow: hidden;
    	// opacity: 0.1;
		video {
			height: 100%;
			width: auto;
			position: absolute;
			left: 50%;
			transform: translateX( -50% );
		}
		video.full_width {
			width: 100%;
			height: auto;
			position: absolute;
			top: 50%;
			left: 0;
			transform: translateY( -50% );
		}
	}
	#slideshow_1 {
		z-index: 9;
		top: 0;
		left: 0;
		width: 32.56%;
		height: 71.52%;
	}
	#slideshow_2 {
		bottom: 0;
		left: 26.25%;
		width: 38.65%;
		height: 44.98%;
	}
	#slideshow_3 {
		bottom: 0;
		right: 0;
		width: 35.1%;
		height: 36.12%;
	}
	#slideshow_4 {
		top: 0;
		right: 0;
		width: 30.15%;
		height: 63.92%;
	}
	#webcam {
		// border: 2px solid yellow;
		background: black;
		position: absolute;
		z-index: 9999;
		top: 0;
		height: 54.57%;
		width: 25%;
		right: 25.6%;
		overflow: hidden;
		font-family: "Palimpsest", helvetica, arial, sans-serif;
		font-size: 18px;
		letter-spacing: 0.8px;
		canvas {
			// border: 1px solid orange;
			// background: black;
			position: absolute;
			// width: 100%;
			height: 100%;
			transform: translateX(-50%);
			left: 50%;
			bottom: 0;
			display: none;
		}
		video {
			// border: 1px solid green;
			position: absolute;
			width: auto;
			height: 100%;
			left: 50%;
			transform: translateX( -50% );	
			display: none;		
		}
		div {
			display: none;
			text-align: center;
			padding: 6px 10px;
			line-height: 1.4;
		}
		#webcam_initial_image {
			display: block;
			height: 100%;
			width: 100%;
			background-repeat: no-repeat;	
			background-size: cover;
			background-position: center;	
			padding: 0;
		}
		#webcam_button_init {
			position: absolute;
			bottom: 72px;
			width: 196px;
			left: 50%;
			transform: translateX( -50% );
			display: none;
		}
		.webcam_button {
			cursor: pointer;
			color: #2962FF;
			background-color: white;
			padding: 8px 12px 8px 12px;
			p {
				border-bottom: 2px solid #2962FF;
				display: inline; 
			}
		}
		.webcam_button:hover {
			background-color: #2962FF !important;
			p {
				color: white;
				border-bottom: 2px solid white;
			}
		}
		#webcam_access_screen,
		#webcam_error_screen {
			background-color: #2962FF;
			height: 100%;
			width: 100%;
			text-align: center;
			p {
				position: absolute;
				color: white;
				width: 75%;
				top: 50%;
    			left: 50%;
    			transform: translateX(-50%) translateY(-50%);
			}
		    .terms {
		    	position: absolute;
		    	bottom: 80px;
		    	width: calc( 100% - 20px );
		    	display: block;
		    	font-size: 14px;
				text-align: center;
				a {
					color: white;
					text-decoration: none;
					padding: 1px;
					border-bottom: 1px solid white;
				}
			}
		}
		#webcam_loaded_buttons {
			// border: 2px solid orange;
			position: absolute;
			bottom: 21px;
			left: 16px;
			width: auto;
			height: auto;
			padding: 0;
			text-align: left;
			a {
				text-decoration: none;
			}
			.webcam_button {
				width: auto;
				display: inline-block;
				margin-top: 16px;
				margin-right: 50%;
			}
			#webcam_button_close {
				width: 41px;
				height: 41px;
				position: relative;
				padding: 0;
				margin-bottom: -4px;
				margin-right: 100%;
				img {
					position: absolute;
					top: 7.5px;
					left: 7.5px;
					width: 26px;
					height: 26px;
					min-height: 0;
				}
				.white {
					display: none;
				}
				.blue {
					display: block;
				}
			}
			#webcam_button_close:hover {
				.blue {
					display: none;
				}
				.white {
					display: block;
				}				
			}
		}
		#webcam_success {
			background-color: #2962FF;
			position: absolute;
		    bottom: 21px;
		    padding: 16px 0;
		    width: 90%;
		    left: 5%;
		    color: white;
		    p {
		    	width: 80%;
		    	margin-left: 10%;
		    }
		    .webcam_button {
		    	border: 2px solid white;
		    	// color: #2962FF;
		    	// background-color: #fff;
		    	display: inline-block;
		    	margin: 16px 7px 0 7px;
		    	padding: 8px;
		    	width: 62px;
		    	p {
		    		margin: 0 10px;
		    		// border-bottom: 1px solid #2962FF;
		    		// color: #2962FF;
		    	}
		    }
		    .webcam_button:hover {
		    	border: 2px solid white;
		    	background-color: #2962FF !important;
		    	p {
		    		border-bottom: 2px solid #FFF;
		    		// color: #2962FF;
		    		color: #FFF;
		    	}
		    }
		}
	}
}

#twitter_wrapper {
	// border: 2px solid orange;
    background: white;
    position: absolute;
    z-index: 9999;
    left: 25.8%;
    top: 0;
    height: 29%;
    width: 23.5%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    ul {
    	// border: 1px solid red;
    	position: absolute;
    	bottom: 0;
	    .tweet {
	    	// border: 1px solid blue;
	    	width: 100%;
	    	height: auto;
	    	position: absolute;
	    	top: 50%;
	    	transform: translateY(-50%);
	    	display: none;
	    }
	    .visible {
	    	display: block;
	    }
    }
}

#frame {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	pointer-events: none;
	// opacity: 0.2;
}

#comment_wrapper {
	position: fixed;
	z-index: -99;
	top: 0;
	left: 0;
	width: 25%;
	height: 80%;
	display: none;
}
