/* line 1, style.scss */
#wpadminbar {
  display: none;
}

/****************************************

	CSS RESET 

****************************************/
/* line 11, style.scss */
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* line 11, style.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 11, style.scss */
body {
  line-height: 1;
}

/* line 11, style.scss */
ol, ul {
  list-style: none;
}

/* line 11, style.scss */
blockquote, q {
  quotes: none;
}

/* line 11, style.scss */
blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none;
}

/* line 11, style.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/****************************************

	GENERAL

****************************************/
/* line 19, style.scss */
html, body {
  width: 100%;
  height: 100%;
  background-color: black;
  overflow: hidden;
}

/* line 26, style.scss */
#wrapper {
  position: fixed;
  /*	z-index: 1;*/
  top: 0;
  width: 100%;
  height: 100vh;
}

/* line 34, style.scss */
#wrapper img {
  width: auto;
  min-height: 100%;
}

/* line 39, style.scss */
#content_frame {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
/* line 46, style.scss */
#content_frame #youtube_playlist {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 26.25%;
  height: 27.75%;
}
/* line 52, style.scss */
#content_frame #youtube_playlist iframe {
  width: 100%;
  height: 100%;
}
/* line 57, style.scss */
#content_frame .slideshow_wrapper {
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: -webkit-filter 0.5s;
  transition: -webkit-filter 0.5s;
  transition: filter 0.5s;
  transition: filter 0.5s, -webkit-filter 0.5s;
}
/* line 65, style.scss */
#content_frame .slideshow_wrapper video.full_width {
  width: 100%;
  min-height: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
/* line 74, style.scss */
#content_frame #slideshow_1 {
  z-index: 9;
  top: 0;
  left: 0;
  width: 32.56%;
  height: 71.52%;
}
/* line 81, style.scss */
#content_frame #slideshow_2 {
  bottom: 0;
  left: 26.25%;
  width: 38.65%;
  height: 44.98%;
}
/* line 87, style.scss */
#content_frame #slideshow_3 {
  bottom: 0;
  right: 0;
  width: 35.1%;
  height: 36.12%;
}
/* line 93, style.scss */
#content_frame #slideshow_4 {
  top: 0;
  right: 0;
  width: 30.15%;
  height: 63.92%;
}
/* line 99, style.scss */
#content_frame #webcam {
  background: black;
  position: absolute;
  z-index: 9;
  top: 0;
  height: 54.57%;
  width: 25%;
  right: 25.67%;
  overflow: hidden;
  font-family: "FGrotesk", helvetica, arial, sans-serif;
  font-size: 16px;
}
/* line 111, style.scss */
#content_frame #webcam canvas {
  position: absolute;
  height: 100%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
  bottom: 0;
  display: none;
}
/* line 122, style.scss */
#content_frame #webcam video {
  position: absolute;
  width: auto;
  height: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: none;
}
/* line 131, style.scss */
#content_frame #webcam div {
  display: none;
  text-align: center;
  padding: 6px 10px;
  line-height: 1.4;
}
/* line 137, style.scss */
#content_frame #webcam #webcam_initial_image {
  display: block;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 0;
}
/* line 146, style.scss */
#content_frame #webcam #webcam_button_init {
  position: absolute;
  bottom: 64px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: block;
}
/* line 153, style.scss */
#content_frame #webcam .webcam_button {
  cursor: pointer;
  background-color: white;
  padding: 4px 10px 8px 10px;
}
/* line 157, style.scss */
#content_frame #webcam .webcam_button p {
  border-bottom: 1px solid black;
  display: inline;
}
/* line 162, style.scss */
#content_frame #webcam .webcam_button:hover {
  background-color: #2962FF !important;
}
/* line 164, style.scss */
#content_frame #webcam .webcam_button:hover p {
  color: white;
  border-bottom: 1px solid white;
}
/* line 169, style.scss */
#content_frame #webcam #webcam_access_screen {
  background-color: #2962FF;
  height: 100%;
  width: 100%;
  text-align: center;
}
/* line 174, style.scss */
#content_frame #webcam #webcam_access_screen p {
  position: absolute;
  color: white;
  width: 60%;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}
/* line 183, style.scss */
#content_frame #webcam #webcam_loaded_buttons {
  position: absolute;
  bottom: 16px;
  left: 16px;
  width: auto;
  height: auto;
  padding: 0;
  text-align: left;
}
/* line 192, style.scss */
#content_frame #webcam #webcam_loaded_buttons a {
  text-decoration: none;
}
/* line 195, style.scss */
#content_frame #webcam #webcam_loaded_buttons .webcam_button {
  width: auto;
  display: inline-block;
  margin-top: 16px;
  margin-right: 50%;
}
/* line 201, style.scss */
#content_frame #webcam #webcam_loaded_buttons #webcam_button_close {
  width: 34px;
  height: 34px;
  position: relative;
  padding: 0;
  margin-bottom: -4px;
  margin-right: 100%;
}
/* line 208, style.scss */
#content_frame #webcam #webcam_loaded_buttons #webcam_button_close img {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 26px;
  height: 26px;
  min-height: 0;
}
/* line 216, style.scss */
#content_frame #webcam #webcam_loaded_buttons #webcam_button_close .white {
  display: none;
}
/* line 219, style.scss */
#content_frame #webcam #webcam_loaded_buttons #webcam_button_close .blue {
  display: block;
}
/* line 224, style.scss */
#content_frame #webcam #webcam_loaded_buttons #webcam_button_close:hover .blue {
  display: none;
}
/* line 227, style.scss */
#content_frame #webcam #webcam_loaded_buttons #webcam_button_close:hover .white {
  display: block;
}
/* line 232, style.scss */
#content_frame #webcam #webcam_success {
  background-color: #2962FF;
  position: absolute;
  bottom: 16px;
  padding: 16px 0;
  width: 90%;
  left: 5%;
  color: white;
}
/* line 240, style.scss */
#content_frame #webcam #webcam_success p {
  width: 80%;
  margin-left: 10%;
}
/* line 244, style.scss */
#content_frame #webcam #webcam_success .webcam_button {
  border: 1px solid white;
  background-color: #2962FF;
  display: inline-block;
  margin: 16px 7px 0 7px;
  padding: 8px;
}
/* line 250, style.scss */
#content_frame #webcam #webcam_success .webcam_button p {
  margin: 0 10px;
  border-bottom: 1px solid white;
}
/* line 255, style.scss */
#content_frame #webcam #webcam_success .webcam_button:hover {
  border: 1px solid white;
  background-color: white !important;
}
/* line 258, style.scss */
#content_frame #webcam #webcam_success .webcam_button:hover p {
  border-bottom: 1px solid #2962FF;
  color: #2962FF;
}

/* line 267, style.scss */
#frame {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  pointer-events: none;
}
