/* line 1, style.scss */
#wpadminbar {
  display: none;
}

/****************************************

	CSS RESET 

****************************************/
/* line 11, style.scss */
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* line 11, style.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 11, style.scss */
body {
  line-height: 1;
}

/* line 11, style.scss */
ol, ul {
  list-style: none;
}

/* line 11, style.scss */
blockquote, q {
  quotes: none;
}

/* line 11, style.scss */
blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none;
}

/* line 11, style.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/****************************************

	FONTS

****************************************/
@font-face {
  font-family: "Palimpsest";
  font-weight: normal;
  font-style: normal;
  src: url("assets/fonts/Palimpsest.woff2") format("woff2"), url("assets/fonts/Palimpsest.woff") format("woff");
}
/****************************************

	GENERAL

****************************************/
/* line 32, style.scss */
html, body {
  width: 100%;
  height: 100%;
  background-color: black;
}

/* line 38, style.scss */
#wrapper {
  position: fixed;
  /*	z-index: 1;*/
  top: 0;
  width: 100%;
  height: 100vh;
}

/* line 46, style.scss */
#wrapper img {
  width: auto;
  min-height: 100%;
}

/* line 51, style.scss */
#intro_portraits {
  position: fixed;
  z-index: 99;
  width: 100%;
  height: 100%;
  opacity: 1;
}
/* line 58, style.scss */
#intro_portraits .portrait_wrapper {
  position: absolute;
  top: 0;
  height: 100%;
  width: 33.333%;
  overflow: hidden;
  cursor: pointer;
}
/* line 66, style.scss */
#intro_portraits .portrait_wrapper video {
  position: absolute;
  top: 0;
  height: 100%;
  width: auto;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
/* line 75, style.scss */
#intro_portraits #portrait_wrapper_2 {
  left: 33.333%;
}
/* line 78, style.scss */
#intro_portraits #portrait_wrapper_3 {
  left: 66.667%;
}

/* line 83, style.scss */
#videos {
  width: 100%;
  height: 100%;
}
/* line 86, style.scss */
#videos iframe {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  display: none;
}

/* line 98, style.scss */
#back_button {
  position: fixed;
  bottom: 72px;
  left: 36px;
  height: 24px;
  font-family: "Palimpsest", helvetica, arial;
  font-size: 24px;
  color: white;
  text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.8);
  -webkit-transition: text-shadow 0.5s;
  transition: text-shadow 0.5s;
  letter-spacing: 0.8px;
  display: none;
}
/* line 110, style.scss */
#back_button a {
  color: white;
  text-decoration: none;
}
/* line 114, style.scss */
#back_button img {
  height: 22px;
  min-height: 0;
  width: auto;
  -webkit-filter: drop-shadow(0px 0px 8px white);
          filter: drop-shadow(0px 0px 8px white);
  margin-right: 16px;
  margin-bottom: -2px;
}

/* line 124, style.scss */
#back_button:hover {
  text-shadow: 1px 1px 10px white;
}
/* line 126, style.scss */
#back_button:hover img {
  -webkit-filter: drop-shadow(0px 0px 10px white);
          filter: drop-shadow(0px 0px 10px white);
}
